.faq {
  background-color: #f8f9fc;
  color: #102654;
}

.faq__wrapper {
  padding-top: 71px;
  padding-bottom: 70px;

  @media (min-width: $tablet-width) {
    padding-top: 61px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 260px minmax(860px, auto);
    column-gap: 40px;
    row-gap: 0;
  }
}

.faq__title {
  text-align: center;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    text-align: left;
    margin-bottom: 49px;
  }
}

.faq__tab {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    gap: 10px;

    margin-bottom: 0;
    margin-top: 1px;
  }
}
