.hero {
  background: linear-gradient(
    90deg,
    #1c3477 0%,
    #1c3477 0.01%,
    #1a3578 39.11%,
    #73184b 75.5%,
    #b4022a 100%
  );
  color: white;
  text-align: center; /* Центрирование текста */
  min-height: 412px;
}

.hero__top {
  display: flex;
  justify-content: space-between; /* Размещение логотипа и телефона */
  align-items: center;
  padding-top: 20px;
  margin-bottom: 65px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.hero__logo {
  width: 100px;
  height: 20px;

  @media (min-width: $tablet-width) {
    width: 110px;
    height: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 130px;
    height: 26px;
  }
}

.hero__phone {
  font-family: $secondary-font;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  line-height: 22px;
  font-size: 22px;

  @media (min-width: $tablet-width) {
    line-height: 24px;
    font-size: 24px;
  }

  @media (min-width: $desktop-width) {
    line-height: 26px;
    font-size: 26px;
  }
}

.hero__phone:hover {
  color: #1c3374;
  opacity: 0.5;
}

.hero__phone:focus {
  color: #1c3374;
  opacity: 1;
}
.hero__phone:active {
  color: #102654;
  border-bottom: 1px solid #102654;
  padding-bottom: 6px;
  margin-bottom: -7px;
}

.hero__phone:disabled {
  color: #f8f9fc;
}

.hero__main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 32px;
  @media (min-width: $tablet-width) {
    padding-bottom: 100px;
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 120px;
    position: relative;
    left: 37px;
  }
}

.hero__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.hero__wrapper {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end; /* Выравнивание по вертикали (вниз) */
  justify-content: space-between;
}

.hero__fitnes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-left: 21px;

  @media (min-width: $tablet-width) {
    margin-left: 22px;
  }
}

.hero__services {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  // @media (min-width: $tablet-width) {
  //   bottom: ;
  // }

  @media (min-width: $desktop-width) {
    bottom: 42px;
  }
}

.hero__services li {
  display: flex;
  align-items: flex-end; /* Выравнивание по вертикали (вниз) */
  margin: 0;
  justify-content: flex-end;
}

.hero__services p {
  line-height: 20px;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    line-height: 22px;
    bottom: 30px;
    position: relative;
  }
}

// .hero__service {

// }

.hero__title {
  margin-bottom: 10px;
  display: flex;
  text-align: right;
  margin: 0;
  padding: 0;
}

.hero__button {
  font-family: $secondary-font;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 22px;
  font-size: 12px;
  line-height: 12px;
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 185px;
    display: flex;
    justify-content: center;
    align-self: end;
  }

  @media (min-width: $desktop-width) {
    width: 270px;
  }
}

.hero__img {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
    width: 324px;
    height: 390px;
    margin-left: 30px;
    object-fit: cover;
  }

  @media (min-width: $desktop-width) {
    width: 500px;
    height: 524px;
    margin-left: 54px;
  }
}

.hero__city {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}
