.info {
  display: flex;
  flex-direction: column;
  width: 56px;

  @media (min-width: $tablet-width) {
    width: 100px;
  }

  @media (min-width: $desktop-width) {
    width: 95px;
  }
}

.info__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }
}

.info__label {
  display: flex;
  font-family: $secondary-font;
  position: relative;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  width: 56px;
  padding-bottom: 4px;
  border-bottom: 1px solid #ffffff;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

// .info__label::after {
//   content: '';
//   position: absolute;
//   left: 0;
//   bottom: 0;
//   height: 1px;
//   background-color: #ffffff;
// }

.info__value {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: right;
}

.info__primary {
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  text-align: left;
  margin-right: 3px;

  @media (min-width: $tablet-width) {
    align-items: center;
    margin-right: 5px;
  }
}

.info__secondary {
  //styleName: xsmall;
  font-family: $secondary-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  display: flex;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 95px;
  }
}
