.offers {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.offers__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  @media (min-width: $tablet-width) {
    padding: 0 45px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding: 0;
    width: 1160px;
    justify-content: space-between;
  }
}

.offers__title {
  color: #1c3374;
  margin: 30px 0;
  @media (min-width: $tablet-width) {
  }

  @media (min-width: $desktop-width) {
  }
}

.offers__primary {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    min-height: 462px;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    width: 560px;
  }
}

.offers__text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #ed0233;
  align-items: center;
  justify-content: center;
  min-height: 271px;
  padding: 30px;

  @media (min-width: $tablet-width) {
    width: 278px;
    justify-content: space-between;
    padding: 40px 25px;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
    padding: 40px 45px;
  }
}

.offers__group {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 202px;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.offers__img {
  width: 320px;
  height: 360px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 400px;
    height: 462px;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
    height: 460px;
  }
}

.offers__year {
  font-family: Roboto Condensed;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 26px;
  }
}

.offers__price {
  font-family: Roboto Condensed;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    font-size: 70px;
    line-height: 70px;
  }
}

.offers__paragraph {
  font-family: Roboto Condensed;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 28px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    align-self: flex-start;
    display: contents;
    margin-bottom: 30px;
  }
}

.offers__button {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 73px;
  height: 20px;
  font-family: Roboto Condensed;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  background-color: transparent;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #ffffff;

  @media (min-width: $tablet-width) {
  }

  @media (min-width: $desktop-width) {
    border-bottom: 1px solid #74819c;
  }
}

.offers__button:hover {
  opacity: 0.8;
}

.offers__button:focus {
  padding: 10px;
  border: none;
  box-shadow: 0 0 0 1px #1c3374;
}

.offers__secondary {
  padding: 0 15px;
  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 560px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
}

.offers__list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 678px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 560px;
  }
}

.offers__item {
  font-family: $secondary-font;
  color: #1c3374;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 7px solid transparent;
  border-image: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%) 1;

  &:not(:last-child) {
    margin-bottom: 30px;
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {
    align-items: start;
    margin-bottom: 0;
    width: 324px;
    min-height: 188px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.offers__name {
  margin-bottom: 20px;
  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
  }
}

.offers__paragraph--stiled {
  color: #1c3374;
}

.offers__button--stiled {
  color: #1c3374;
  border-bottom: 1px solid #74819c;
}
