.button {
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease; // Добавляем плавную анимацию

  &:hover {
    opacity: 0.8; // Изменение прозрачности при наведении
  }
}
